
*.vsidx
*.lock
client/.vs/SeeddmsAutoFileUploader/v17/.suo
*.cache
*.wixpdb
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.BindBuiltOutputsFileListnull.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.BindOutputsFileListnull.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.FileList.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.FileList.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.BindOutputsFileListnull.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.BindBuiltOutputsFileListnull.txt
client/SetupSeeddmsAutoFileUploader/bin/Debug/SetupSeeddmsAutoFileUploader.msi
client/SetupSeeddmsAutoFileUploader/bin/Debug/SetupSeeddmsAutoFileUploader.wixpdb
client/SetupSeeddmsAutoFileUploader/bin/Debug/SetupSeeddmsAutoFileUploader.msi
client/SeeddmsAutoFileUploader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
client/SetupSeeddmsAutoFileUploader/bin/Release/SetupSeeddmsAutoFileUploader.wixpdb
client/SetupSeeddmsAutoFileUploader/obj/Release/Product.wixobj
Thumbs.db
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.FileList.txt
client/SetupSeeddmsAutoFileUploader/obj/Release/SetupSeeddmsAutoFileUploader.wixproj.BindOutputsFileListnull.txt
obj
Debug
